@import "./colors.css";

body {
    background-color: linear-gradient(0deg,#f4f4f4,#eae9e8);;
    color: var(--font-color);
}


.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-container {
    width: auto;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-container .card {
    margin: 20px;
    background-color: var(--white);
}

.card img {
    width: 60%;
    margin: 25px auto;
    padding: 20px;
}

.card .card-body {
    padding-top: 0;
}

.card a {
    background-color: var(--white);
    color: var(--light-red);
    border: 2px solid var(--light-red);
}

.card a:hover {
    background-color: var(--light-red);
    border: 2px solid var(--light-red);
}