@import "./colors.css";

body {
    background-color: linear-gradient(0deg,#f4f4f4,#eae9e8);;
    color: var(--font-color);
}


.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-container {
    width: auto;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-container .mobileCard,
.card-container .desktopCard {
    width: 100%;
    margin: 2%;
    background-color: var(--white);
}

@media (min-width: 376px) {
    .card-container .mobileCard,
    .card-container .desktopCard {
        width: 46%;
        margin: 2%;
    }
}

@media (min-width: 568px) {
    .card-container .mobileCard,
    .card-container .desktopCard {
        width: 29.333333%;
        margin: 2%;
    }
}

@media (min-width: 992px) {
    .card-container .mobileCard,
    .card-container .desktopCard {
        width: 21%;
        margin: 2%;
    }
}

.desktopCard .card-body .card-title {
    font-size: 1.7rem;
}

.desktopCard .card-body .card-text {
    font-size: 17.5px;
}

.mobileCard {
    border: none;
    border-bottom: 2px solid black !important;
    border-radius: 0;
}

.mobileCard .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.mobileCard .card-body .card-title {
    font-size: 7vw;
}

.mobileCard .card-body .card-text {
    font-size: 5vw;
}

.mobileCard a:focus {
    background-color: var(--light-red);
    border: 2px solid var(--light-red);
}


.desktopCard {
    width: auto;
}

.card img {
    width: 60%;
    margin: 25px auto;
    padding: 20px;
}

.card a {
    background-color: var(--white);
    color: var(--light-red);
    border: 2px solid var(--light-red);
}

.card a:hover {
    background-color: var(--light-red);
    border: 2px solid var(--light-red);
}

.footer {
    background-color: rgb(248, 249, 250);
    font-family: var(--bs-body-font-family);
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}
