@import "./colors.css";

body {
    background-color: linear-gradient(0deg,#f4f4f4,#eae9e8);;
    color: var(--font-color);
}


.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-container {
    width: auto;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-container .mobileCard,
.card-container .desktopCard {
    width: 18rem;
    margin: 20px;
    background-color: var(--white);
}

.desktopCard .card-body .card-title {
    font-size: 30px;
}

.desktopCard .card-body .card-text {
    font-size: 17.5px;
}

.mobileCard {
    border: none;
    border-bottom: 2px solid black !important;
    border-radius: 0;
}

.mobileCard .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.mobileCard .card-body .card-title {
    font-size: 7vw;
}

.mobileCard .card-body .card-text {
    font-size: 5vw;
}

.mobileCard a:focus {
    background-color: var(--light-red);
    border: 2px solid var(--light-red);
}


.desktopCard {
    width: auto;
}

.card img {
    width: 60%;
    margin: 25px auto;
    padding: 20px;
}

.card a {
    background-color: var(--white);
    color: var(--light-red);
    border: 2px solid var(--light-red);
}

.card a:hover {
    background-color: var(--light-red);
    border: 2px solid var(--light-red);
}