:root {
  --white: #fff;
  --light: #f8f9fa;
  --black: #0d0d0d;
  --light-grey: #c5cece;
  --grey: #3a4542;
  --light-red: #fc0505;
  --mid-red: #d70403;
  --dark-red: #b10200;
  --font-color: #394b59;
}
